!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "This is a website to outline The Headphone Rule"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %title Website
    %link{:rel => "stylesheet", :href => "assets/stylesheets/css/style.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800"}
  %body
    %div.container
      %header
        %h1
          Title
      %section
        %p
          Bacon ipsum dolour sit amet andouille bacon beef meatloaf hamburger tail. Pastrami shankle strip steak frankfurter ribeye ground round cow pork pork loin tongue. Turducken pork chop tail, beef tongue rump drumstick salami bresaola shankle short loin ball tip frankfurter biltong ground round. Chicken leberkas pork chop sirloin spare ribs. Strip steak frankfurter pig filet mignon sirloin sausage beef.
      %footer
        %p
          Footer
            